In [1]:
import pandas as pd
from utils import expand_multichoice

In [2]:
race_df = pd.read_csv('consolidated_race_ethnicity[1].csv')
race_df.head()

   REGISTRANT_CODE   RACE               ETHNICITY
0  KWH-75285-18131  Asian  Not Hispanic or Latino
1  95G-78803-72308  White      Hispanic or Latino
2  6SF-22379-30650  White  Not Hispanic or Latino
3  F4C-94580-33962  White  Not Hispanic or Latino
4  WPH-15008-57507  White  Not Hispanic or Latino

In [3]:
len(race_df)/1e6, 'M'

(8.933184, 'M')

In [4]:
race_df.memory_usage().sum()//2**20, 'MB'

(204, 'MB')

In [5]:
race_df['ETHNICITY'] = race_df.ETHNICITY.astype('category')
race_df = expand_multichoice(race_df, 'RACE')
race_df.head()

,REGISTRANT_CODE,ETHNICITY,American Indian or Alaska Native,Asian,Black or African American,Native Hawaiian or other Pacific Islander,Other,White
0,KWH-75285-18131,Not Hispanic or Latino,False,True,False,False,False,False
1,95G-78803-72308,Hispanic or Latino,False,False,False,False,False,True
2,6SF-22379-30650,Not Hispanic or Latino,False,False,False,False,False,True
3,F4C-94580-33962,Not Hispanic or Latino,False,False,False,False,False,True
4,WPH-15008-57507,Not Hispanic or Latino,False,False,False,False,False,True

In [6]:
race_df.memory_usage().sum()//2**20, 'MB'

(127, 'MB')

In [7]:
race_df.to_feather('race.feather')