In [1]:
import pandas as pd
import numpy as np

In [2]:
reg_df = pd.read_csv('consolidated_registrants[1].csv')
reg_df.head()

,REGISTRANT_CODE,ZIP_CODE,SEX,REGISTERED_DATE,TIME_ZONE,RELATIONSHIP,GUARDIAN_REGISTRANT_CODE
0,222-10179-40558,109,Female,12/09/2021,US/Eastern,NaN,NaN
1,222-10271-84782,662,Male,12/31/2020,US/Central,NaN,NaN
2,222-10325-02776,563,Male,05/19/2021,US/Central,NaN,NaN
3,222-10368-05218,600,Female,04/27/2021,US/Central,NaN,NaN
4,222-10453-23273,554,Female,01/12/2021,US/Central,NaN,NaN

In [3]:
len(reg_df)/1e6, 'M'

(10.09431, 'M')

In [4]:
reg_df.memory_usage().sum()//2**20, 'MB'

(539, 'MB')

In [5]:
reg_df.dtypes

REGISTRANT_CODE             object
ZIP_CODE                     int64
SEX                         object
REGISTERED_DATE             object
TIME_ZONE                   object
RELATIONSHIP                object
GUARDIAN_REGISTRANT_CODE    object
dtype: object

In [6]:
reg_df.memory_usage()

Index                            128
REGISTRANT_CODE             80754480
ZIP_CODE                    80754480
SEX                         80754480
REGISTERED_DATE             80754480
TIME_ZONE                   80754480
RELATIONSHIP                80754480
GUARDIAN_REGISTRANT_CODE    80754480
dtype: int64

In [7]:
reg_df['ZIP_CODE'] = reg_df['ZIP_CODE'].astype(np.uint16)
reg_df['SEX'] = reg_df['SEX'].astype('category')
reg_df['TIME_ZONE'] = reg_df['TIME_ZONE'].astype('category')
reg_df['RELATIONSHIP'] = reg_df['RELATIONSHIP'].astype('category')
reg_df['REGISTERED_DATE'] = pd.to_datetime(reg_df['REGISTERED_DATE'])

In [8]:
reg_df.dtypes

REGISTRANT_CODE                     object
ZIP_CODE                            uint16
SEX                               category
REGISTERED_DATE             datetime64[ns]
TIME_ZONE                         category
RELATIONSHIP                      category
GUARDIAN_REGISTRANT_CODE            object
dtype: object

In [9]:
reg_df.memory_usage()

Index                            128
REGISTRANT_CODE             80754480
ZIP_CODE                    20188620
SEX                         10094514
REGISTERED_DATE             80754480
TIME_ZONE                   20193868
RELATIONSHIP                10094442
GUARDIAN_REGISTRANT_CODE    80754480
dtype: int64

In [10]:
reg_df.memory_usage().sum()//2**20, 'MB'

(288, 'MB')

In [11]:
reg_df.to_feather('reg.feather')